Numbers
Checker
installer/tmp
/LinzDataService/lds-new-zealand-*.zip
/LinzDataService/lds-nz-road-centre-line-electoral-SHP
/LinzDataService/lds-nz-street-address-electoral-SHP
/LinzDataService/outputslinz
/LinzDataService/ProcessedCSVFiles
/setlocals.bat
/scripts/outputs/*.gdb
/scripts/outputs/*.gpx
/scripts/outputs/*.csv
scripts/outputs/*-report-1.txt
scripts/outputs/*-report-4.txt
scripts/outputs/*-report-5.txt
/scripts/postgres/*.sql
/scripts/suburbs/outputs/mapped/*.mp
scripts/Suburbs/SQLData/*.sql
scripts/Suburbs/*.qgz
/scripts/config.yml
/scripts/database.date
/scripts/*.zip
