set nzogps_base="C:\nzopengps"
set nzogps_download="C:\Documents and Settings\All Users\Documents\Downloads\"
set nzogps_perl_cmd=perl
set nzogps_ruby_cmd=ruby
rem set nzogps_unzip_cmd=wzunzip
set nzogps_unzip_cmd="c:\Program Files\7-Zip\7z" e -aoa
set nzogps_zip_cmd="c:\Program Files\7-Zip\7z" a
set nzogps_psql_bin="C:\Program Files\PostgreSQL\9.1\bin\"
set nzogps_psql_svc="postgresql-9.1 - PostgreSQL Server 9.1"
set nzogps_donumbers=/low GenerateNumbers.bat
set nzogps_linznumb=numberlinz.bat
set nzogps_git="c:\Program Files\Git\bin\git.exe"
rem for getting zenbu files...
set nzogps_curl="C:\Program Files\Git\mingw64\bin\curl"
set nzogps_bunzip="C:\Program Files\Git\mingw64\bin\bunzip2"
set nzogps_zenbu_user=user:password
rem for linz updates - use your own linz api key
set nzogps_linz_api_key=123456789abcdef12345
set nzogps_ogr2ogr="c:\Program Files\QGIS Brighton\bin\ogr2ogr.exe"
rem for compiling maps...
set nzogps_cgps="C:\Program Files\cgpsmapper"
set nzogps_cprv="C:\Program Files\cpreview"
set nzogps_iscc="C:\Program Files\Inno Setup 5\iscc"
set nzogps_inst_creator=Unknown
set nzogps_inst_image=installer-image.bmp
set nzogps_inst_loc=tmp
set nzogps_gmapsupp_loc=d:\garmin