if not defined nzogps_cgps call ..\..\setlocals.bat

%nzogps_git% pull

:: Make 7 bit copies of map files here. 
set capit=8
cd ..\..\scripts
ruby parseMP.rb 1 %capit%
ruby parseMP.rb 2 %capit%
ruby parseMP.rb 3 %capit%
ruby parseMP.rb 4 %capit%
ruby parseMP.rb 5 %capit%
ruby parseMP.rb 6 %capit%
ruby parseMP.rb 7 %capit%
ruby parseMP.rb 8 %capit%
ruby parseMP.rb 12 %capit%
ruby parseMP.rb 21 %capit%
cd ..\installer\uppercase

:: Compile Map Tiles
%nzogps_cgps% ac "Northland.mp" > NorthlandcompileLog.txt
%nzogps_cgps% ac "Auckland.mp" > AucklandcompileLog.txt 
%nzogps_cgps% ac "Waikato.mp" > WaikatocompileLog.txt 
%nzogps_cgps% ac "Central.mp" > CentralcompileLog.txt 
%nzogps_cgps% ac "Wellington.mp" > WellingtoncompileLog.txt 
%nzogps_cgps% ac "Tasman.mp" > TasmancompileLog.txt 
%nzogps_cgps% ac "Canterbury.mp" > CanterburycompileLog.txt 
%nzogps_cgps% ac "Southland.mp" > SouthlandcompileLog.txt 

::  Compile POI Files
%nzogps_cgps% ac NZPOIs3A.mp > NIPOIcompileLog.txt
%nzogps_cgps% ac NZPOIs3B.mp > SIPOIcompileLog.txt

::
:: *** changing POI file TRE to 1,3,17,9
::

:: call "NZ Open Zenbu POI Single Mapset.bat"

:: PREPARE NEW PV FILE WITH CURRENT DATE FOR MAPSOURCE VERSION IDENTIFICATION
::
:: Delete previous pv file so new file with current date can be generated
del NZO5_pv.txt
::Run vbscript that generates newfile with current date for Mapsourse Copyright (version)

cscript /nologo ..\DateScript.vbs  > NZO5_pv.txt

:: Compile Global Index's and preview maps
::
%nzogps_cprv% "NZO5_pv.txt"


:: Compile Preview File
::
rem
rem
rem  *** Removing Codepage from  Free Open GPS NZ Autorouting.mp.... ***
rem
rem

%nzogps_perl_cmd% ../RemoveCodepage.pl "Free Open GPS NZ Autorouting.mp"

%nzogps_cgps% ac "Free Open GPS NZ Autorouting.mp" -o "Free Open GPS NZ Autorouting.img"

:: Compile Installer
%nzogps_iscc% /dSdir=%nzogps_inst_loc% /dBdir=%nzogps_base% /dWImg=..\installer-image.bmp "NZ OpenGPS Setup.iss"
pause