:: set up environment variables if not already set
::
if not defined nzogps_git call ..\setlocals.bat

: update map files
:
: tortoiseproc was old svn update
: call tortoiseproc /command:update /path:".." /closeonend:1

%nzogps_git% pull -v

:
:  *** Removing Codepage from Map .mp files.... ***
:  no longer relevant for 9 bit maps
:

:: %nzogps_perl_cmd% RemoveCodepage.pl "../Northland.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Auckland.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Waikato.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Central.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Wellington.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Tasman.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Canterbury.mp"
:: %nzogps_perl_cmd% RemoveCodepage.pl "../Southland.mp"

:: set up base location to come back to
set nzogps_inst_pwd=%CD%
:: check that compile location exists
if not exist %nzogps_inst_loc% echo %nzogps_inst_loc% does not exist &goto :eof
cd %nzogps_inst_loc%

:: Compile Map Tiles
%nzogps_cgps% ac "%nzogps_base%\Northland.mp" > NorthlandcompileLog.txt
%nzogps_cgps% ac "%nzogps_base%\Auckland.mp" > AucklandcompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Waikato.mp" > WaikatocompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Central.mp" > CentralcompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Wellington.mp" > WellingtoncompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Tasman.mp" > TasmancompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Canterbury.mp" > CanterburycompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\Southland.mp" > SouthlandcompileLog.txt 

::  Compile POI Files
%nzogps_cgps% ac "%nzogps_base%\NZPOIs3A.mp" > NIPOIcompileLog.txt 
%nzogps_cgps% ac "%nzogps_base%\NZPOIs3B.mp" > SIPOIcompileLog.txt 

:: go back to compile start location
::
cd %nzogps_inst_pwd%

::
:: *** changing POI file TRE to 1,3,17,9
::

:: call "NZ Open Zenbu POI Single Mapset.bat"


::
:: PREPARE NEW PV FILE WITH CURRENT DATE FOR MAPSOURCE VERSION IDENTIFICATION
::

:: Delete previous pv file so new file with current date can be generated
del NZO5_pv.txt

::Run vbscript that generates newfile with current date for Mapsourse Copyright (version)
cscript /nologo DateScript.vbs  > %nzogps_inst_loc%/NZO5_pv.txt

cd %nzogps_inst_loc%

:: Compile Global Index's and preview maps
::
%nzogps_cprv% "NZO5_pv.txt"


:: Compile Preview File
::
rem
rem
rem  *** Removing Codepage from  Free Open GPS NZ Autorouting.mp.... ***
rem
rem

:: %nzogps_perl_cmd% ../RemoveCodepage.pl "Free Open GPS NZ Autorouting.mp"

rem

%nzogps_cgps% ac "Free Open GPS NZ Autorouting.mp" -o "Free Open GPS NZ Autorouting.img"


cd %nzogps_inst_pwd%

:: Compile Installer
%nzogps_iscc% /dSdir=%nzogps_inst_loc% /dBdir=%nzogps_base% /dWImg=installer-image.bmp "NZ OpenGPS Setup.iss"
pause